<div class="update-worker-container">
  <h2>{{ 'UPDATE_WORKER'|translate }}</h2>

  <form (ngSubmit)="onUpdateWorker()">
    <label for="workerId">{{ 'WORKER_ID' | translate }}</label>
    <input
      type="number"
      id="workerId"
      [(ngModel)]="workerId"
      name="workerId"
      placeholder="Enter Worker ID"
      required
    />

    <button type="button" (click)="onSearchWorker()" [disabled]="isLoading">{{'SEARCH_WORKER'|translate}}</button>

    <button routerLink="/profile-worker" class="return-button">
      {{ 'RETURN_WORKER_PROFILE' | translate }}
    </button>

    <div *ngIf="isLoading" class="loading-indicator">Loading...</div>

    <div *ngIf="isWorkerFound">
      <label for="firstname"> {{'FIRST_NAME'|translate}}</label>
      <input
        type="text"
        id="firstname"
        [(ngModel)]="worker.firstname"
        name="firstname"
        placeholder="Enter First Name"
        required
      />

      <label for="lastname">{{'LAST_NAME'|translate}}</label>
      <input
        type="text"
        id="lastname"
        [(ngModel)]="worker.lastname"
        name="lastname"
        placeholder="Enter Last Name"
        required
      />

      <label for="emailAddress">{{'EMAIL'|translate}}</label>
      <input
        type="email"
        id="emailAddress"
        [(ngModel)]="worker.emailAddress"
        name="emailAddress"
        placeholder="Enter Email Address"
        required
      />

      <label for="street">{{'STREET'|translate}}</label>
      <input
        type="text"
        id="street"
        [(ngModel)]="worker.street"
        name="street"
        placeholder="Enter Street"
        required
      />

      <label for="numberStreet">{{'NUMBER_STREET'|translate}}</label>
      <input
        type="text"
        id="numberStreet"
        [(ngModel)]="worker.numberStreet"
        name="numberStreet"
        placeholder="Enter Number Street"
        required
      />

      <label for="district">{{'DISTRICT'|translate}}</label>
      <input
        type="text"
        id="district"
        [(ngModel)]="worker.district"
        name="district"
        placeholder="Enter District"
        required
      />

      <label for="postalCode">{{'POSTAL_CODE'|translate}}</label>
      <input
        type="text"
        id="postalCode"
        [(ngModel)]="worker.postalCode"
        name="postalCode"
        placeholder="Enter Postal Code"
        required
      />

      <label for="city">{{'CITY'|translate}}</label>
      <input
        type="text"
        id="city"
        [(ngModel)]="worker.city"
        name="city"
        placeholder="Enter City"
        required
      />

      <label for="country">{{'COUNTRY'|translate}}</label>
      <input
        type="text"
        id="country"
        [(ngModel)]="worker.country"
        name="country"
        placeholder="Enter Country"
        required
      />

      <label for="area">{{'AREA'|translate}}</label>
      <input
        type="text"
        id="area"
        [(ngModel)]="worker.area"
        name="area"
        placeholder="Enter Area"
        required
      />

      <label for="experienceWorking">{{'EXPERIENCE'|translate}}</label>
      <input
        type="number"
        id="experienceWorking"
        [(ngModel)]="worker.experienceWorking"
        name="experienceWorking"
        placeholder="Enter Experience"
        required
      />

      <label for="countryCode">{{'COUNTRY_CODE'|translate}}</label>
      <input
        type="text"
        id="countryCode"
        [(ngModel)]="worker.countryCode"
        name="countryCode"
        placeholder="Enter Country Code"
        required
      />

      <label for="number">{{'NUMBER'|translate}}</label>
      <input
        type="text"
        id="number"
        [(ngModel)]="worker.number"
        name="number"
        placeholder="Enter Phone Number"
        required
      />

      <label for="value">{{'VALUE'|translate}}</label>
      <input
        type="number"
        id="value"
        [(ngModel)]="worker.value"
        name="value"
        placeholder="Enter Value"
        required
      />

      <label for="skillName">{{'SKILL_NAME'|translate}}</label>
      <input
        type="text"
        id="skillName"
        [(ngModel)]="worker.skillName"
        name="skillName"
        placeholder="Enter Skill Name"
        required
      />

      <label for="descriptionSkill">{{'DESCRIPTION_SKILL'|translate}}</label>
      <textarea
        id="descriptionSkill"
        [(ngModel)]="worker.descriptionSkill"
        name="descriptionSkill"
        placeholder="Enter Skill Description"
        required
      ></textarea>

      <label for="photoUrl">{{'PHOTO_URL'|translate}}</label>
      <input
        type="text"
        id="photoUrl"
        [(ngModel)]="worker.photoUrl"
        name="photoUrl"
        placeholder="Enter Photo URL"
        required
      />

      <button type="submit" [disabled]="isLoading">{{'UPDATE_WORKER'|translate}}</button>
      <button routerLink="/profile-worker" class="return-button">
        {{ 'RETURN_WORKER_PROFILE' | translate }}
      </button>
    </div>
  </form>

  <div *ngIf="isLoading" class="loading-indicator">Updating Worker...</div>
</div>
