<header class="toolbar">
  <div class="toolbar-logo">
    <img src="https://github.com/upc-pre-si729-2402-wx51-G6-GPTDevs/Report/blob/main/assets/logo.png?raw=true" alt="Logo" class="logo-image">
  </div>
  <nav class="toolbar-nav">
    <ul>
      <li>
        <span class="material-icons">notifications</span>
      </li>
      <li>
        <a routerLink="/">
          Iniciar Sesión
        </a>
      </li>
      <li><button (click)="switchUser()">Cambiar Usuario</button></li>
      <li><button (click)="gotoDashboard()">Ver panel de control</button></li>
    </ul>
  </nav>
</header>
