* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to top, #142433, #89373D);
  color: white;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

p {
  font-size: 18px;
}
