<!DOCTYPE html>
<html lang="es">
<head>
  <title>Add Worker</title>
</head>
<body>
<div class="form-container">
  <h1>{{'ADD_WORKER' | translate}}</h1>
  <form id="addWorkerForm">
    <div class="form-row">
      <div class="form-group">
        <label for="firstname">{{'FIRST_NAME' | translate }}</label>
        <input type="text" id="firstname" name="firstname" required>
      </div>
      <div class="form-group">
        <label for="lastname">{{'LAST_NAME' | translate }}</label>
        <input type="text" id="lastname" name="lastname" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="emailAddress">{{'EMAIL' | translate }}</label>
        <input type="email" id="emailAddress" name="emailAddress" required>
      </div>
      <div class="form-group">
        <label for="number">{{'NUMBER' | translate }}</label>
        <input type="text" id="number" name="number" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="street">{{'STREET' | translate }}</label>
        <input type="text" id="street" name="street" required>
      </div>
      <div class="form-group">
        <label for="numberStreet">{{'NUMBER_STREET' | translate }}</label>
        <input type="text" id="numberStreet" name="numberStreet" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="district">{{'DISTRICT' | translate }}</label>
        <input type="text" id="district" name="district" required>
      </div>
      <div class="form-group">
        <label for="postalCode">{{'POSTAL_CODE' | translate }}</label>
        <input type="text" id="postalCode" name="postalCode" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="city">{{'CITY' | translate }}</label>
        <input type="text" id="city" name="city" required>
      </div>
      <div class="form-group">
        <label for="country">{{'COUNTRY' | translate }}</label>
        <input type="text" id="country" name="country" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="experienceWorking">{{'EXPERIENCE' | translate}}</label>
        <input type="number" id="experienceWorking" name="experienceWorking" min="0" required>
      </div>
      <div class="form-group">
        <label for="skillName">{{'SKILL_NAME' | translate }}</label>
        <input type="text" id="skillName" name="skillName" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="value">{{'VALUE' | translate }}</label>
        <input type="number" step="0.1" id="value" name="value" min="1" max="5" required>
      </div>
      <div class="form-group">
        <label for="descriptionSkill">{{'DESCRIPTION_SKILL' | translate }}</label>
        <textarea id="descriptionSkill" name="descriptionSkill" rows="3" required></textarea>
      </div>
    </div>

    <div class="form-row">
      <label for="photoUrl">{{'PHOTO_URL' | translate }}</label>
      <input type="url" id="photoUrl" name="photoUrl">
    </div>

    <button type="submit">{{'ADD_WORKER' | translate}}</button>
  </form>
</div>
</body>
</html>
