<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Worker Management</title>
</head>
<body>
<div class="giant-box">
  <h1>Worker Management</h1>
  <div class="button-container">
    <button id="createButton" routerLink="/add-worker">Create Worker (POST)</button>
    <button id="getButton">Get All Workers (GET)</button>
    <button id="updateButton">Update Worker (PUT)</button>
    <button id="deleteButton">Delete Worker (DELETE)</button>
  </div>

</div>

<script src="worker-management.component.js"></script>
</body>
</html>

