<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Worker Management</title>
</head>
<body>
<div class="giant-box">
  <h1>{{ 'MANAGEMENT' | translate}}</h1>
  <div class="button-container">

    <button id="createButton" routerLink="/add-worker">{{  'POST_WORKER' | translate}}</button>
    <button id="getButton" routerLink="/get-all-workers">{{  'GET_ALL_WORKERS' | translate}}</button>
    <button id="updateButton" routerLink="/update-worker">{{  'UPDATE_WORKER' | translate}}</button>
    <button id="deleteButton" routerLink="/delete-worker">{{  'DELETE_WORKER' | translate}}</button>
    <button routerLink="/profile-worker" class="return-button">
      {{ 'RETURN_WORKER_PROFILE' | translate }}
    </button>
  </div>

</div>

<script src="worker-management.component.js"></script>
</body>
</html>

