<div class="giant-card">
  <div class="info-container">

    <p class="bold-text">Perfil del Empleador</p>

    <div class="photo-container">
      <img [src]="employer?.photo" alt="Foto de perfil del empleador" class="profile-photo" />
    </div>

    <div class="info-field">
      <label for="id">Id:</label>
      <span id="id">{{ employer?.id }}</span>
    </div>

    <div class="info-field">
      <label for="name">Nombre:</label>
      <span id="name">{{ employer?.name }}</span>
    </div>

    <div class="info-field">
      <label for="location">Ubicación:</label>
      <span id="location">{{ employer?.location }}</span>
    </div>
  </div>

  <div class="divider"></div>

  <div class="details-container">
    <div class="bio-box">
      <p class="bold-text">Biografía</p>
      <p>{{ employer?.bio }}</p>
    </div>

    <div class="button-container">
      <button>Ver historial de trabajos</button>
      <button routerLink="/profile-worker">Cambiar perfil</button>
    </div>
    <div class="rating-box">
      <p class="bold-text">Puntuación</p>
      <div class="stars">★★★★★</div>
    </div>
  </div>
</div>