<div class="giant-card">
  <div class="info-container">

    <p class="bold-text">{{'PROFILE_2' | translate}}</p>

    <div class="photo-container">
      <img [src]="employer?.photo" alt="Foto de perfil del empleador" class="profile-photo" />
    </div>

    <div class="info-field">
      <label for="id">Id:</label>
      <span id="id">{{ employer?.id }}</span>
    </div>

    <div class="info-field">
      <label for="name">{{'NAME' | translate}}:</label>
      <span id="name">{{ employer?.name }}</span>
    </div>

    <div class="info-field">
      <label for="location">{{'LOCATION' | translate}}:</label>
      <span id="location">{{ employer?.location }}</span>
    </div>
  </div>

  <div class="divider"></div>

  <div class="details-container">
    <div class="bio-box">
      <p class="bold-text">{{'BIOGRAPHY' | translate}}</p>
      <p>{{ employer?.bio }}</p>
    </div>

    <div class="button-container">
      <button>{{'WORKS_HISTORY' | translate}}</button>
      <button routerLink="/profile-worker">{{'CHANGE_PROFILE' | translate}}</button>
    </div>
    <div class="rating-box">
      <p class="bold-text">{{'SCORE' | translate}}</p>
      <div class="stars">★★★★★</div>
    </div>
  </div>
</div>