.task-form-container {
  max-width: 900px;
  margin: 100px auto;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

h2 {
  text-align: left;
  margin-bottom: 20px;
  margin-top: 0;
  border-bottom: 1px solid #000; /* Línea separadora debajo del título */
  padding-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.form-group small {
  margin-top: 95px;
  position: absolute;
  margin-left: 620px;
}

.form-group span {
  padding: 8px;
  text-align: center;
  margin-right: 20px;
}

label {
  font-weight: bold;
  margin-right: 10px;
  display: inline-block;
  width: 150px; /* Ancho fijo para los labels */
}

input, textarea {
  width: calc(100% - 160px); /* Tamaño calculado para inputs */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  transition: box-shadow 0.3s ease;
}

input:focus, textarea:focus {
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
}

textarea {
  resize: none;
  height: 100px;
}

.small-text {
  text-align: right;
  font-size: 12px;
  margin-top: -10px;
}

#file-upload {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  background-color: white; /* Fondo del área de padding */
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  justify-content: center;
  transition: background-color 0.3s ease; /* Suaviza la transición al pasar el mouse */
  background-clip: padding-box; /* Asegura que el color de fondo solo afecte el área de padding */
}

#file-upload span {
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: #000; /* Color del texto */
}

#file-upload:hover {
  background-color: #f0f0f0; /* Cambia el fondo al pasar el mouse */
}

#file-upload .material-icons {
  margin-right: 8px;
  font-size: 20px; /* Ajuste del tamaño del icono */
  color: #000;
}

.publish-btn {
  width: 50%;
  padding: 10px;
  margin-left: 240px;
  background-color: #2C3E50;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.publish-btn:hover {
  background-color: #89373D;
}

.back-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
}

.material-icons {
  font-size: 24px;
}

/* Ajustes para el layout específico de la imagen */

input.short-input {
  width: 200px;
}

input.medium-input {
  width: calc(50% - 160px);
}

input.wide-input {
  width: 100%;
}

input[type="date"], input[type="number"] {
  padding: 8px;
}

.success-message {
  margin-bottom: 20px;
  color: green;
  font-weight: bold;
}


