<div class="giant-card">
  <div class="info-container">

    <p class="bold-text">Perfil del trabajador</p>

    <div class="photo-container">
      <img [src]="worker?.photo" alt="Foto de perfil" class="profile-photo" />
    </div>

    <div class="info-field">
      <label for="id">Id:</label>
      <span id="id">{{ worker?.id }}</span>
    </div>

    <div class="info-field">
      <label for="name">Nombre:</label>
      <span id="name">{{ worker?.name }}</span>
    </div>
    <div class="info-field">
      <label for="jobTitle">Título Laboral:</label>
      <span id="jobTitle">{{ worker?.jobTitle }}</span>
    </div>
    <div class="info-field">
      <label for="location">Ubicación:</label>
      <span id="location">{{ worker?.location }}</span>
    </div>
    <div class="info-field">
      <label for="availability">Disponibilidad:</label>
      <span id="availability">{{ worker?.availability }}</span>
    </div>
  </div>

  <div class="divider"></div>

  <div class="details-container">
    <div class="bio-box">
      <p class="bold-text">Biografía</p>
      <p>{{ worker?.bio }}</p>
    </div>

    <div class="rating-box">
      <p class="bold-text">Puntuación</p>
      <div class="stars">★★★★★</div>
    </div>

    <div class="button-container">
      <button>Subir Archivos</button>
      <button routerLink="/work-history">Trabajos Realizados</button>
      <button>Tarjeta</button>
      <button routerLink="/profile-employer">Cambiar perfil</button>
    </div>
  </div>
</div>