<div class="giant-card">
  <div class="info-container">

    <p class="bold-text">{{'PROFILE_1' | translate}}</p>

    <div class="photo-container">
      <img [src]="worker?.photo" alt="Foto de perfil" class="profile-photo" />
    </div>

    <div class="info-field">
      <label for="id">Id:</label>
      <span id="id">{{ worker?.id }}</span>
    </div>

    <div class="info-field">
      <label for="name">{{'NAME' | translate}}:</label>
      <span id="name">{{ worker?.name }}</span>
    </div>
    <div class="info-field">
      <label for="jobTitle">{{'JOB_TITLE' | translate}}:</label>
      <span id="jobTitle">{{ worker?.jobTitle }}</span>
    </div>
    <div class="info-field">
      <label for="location">{{'LOCATION' | translate}}:</label>
      <span id="location">{{ worker?.location }}</span>
    </div>
    <div class="info-field">
      <label for="availability">{{'AVAILABILITY' | translate}}:</label>
      <span id="availability">{{ worker?.availability }}</span>
    </div>
  </div>

  <div class="divider"></div>

  <div class="details-container">


    <div class="bio-box">
      <p class="bold-text">{{'BIOGRAPHY' | translate}}</p>
      <p>{{ worker?.bio }}</p>
    </div>

    <div class="rating-box">
      <p class="bold-text">{{'SCORE' | translate}}</p>
      <div class="stars">★★★★★</div>
    </div>

    <div class="button-container">
      <button>{{'UPLOAD_FILES' | translate}}</button>
      <button routerLink="/work-history">{{'WORK_DONE' | translate}}</button>
      <button>{{'CARDS' | translate}}</button>
      <button routerLink="/profile-employer">{{'CHANGE_PROFILE' | translate}}</button>

    </div>
  </div>
</div>


